---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a class:list={[className, { 'opacity-65 hover:opacity-35': !isActive }, { 'opacity-100 hover:opacity-65': isActive }]} href={href} {...props}>
    <slot />
</a>
